---
layout: default
title: Home
---

{% for post in site.posts limit:1 %}
<a class='caps post-title' href='https://www.boka-omw.com{{ post.url }}'>
  <div class="xs-12 imgBack link textCenter vertCenter grow tall" id="hero">
  </div>
</a>
{% endfor %}

<div class='flexbox wrap'>
{% for post in site.posts limit:2 offset:1 %}
  <div class="sm-6 imgBack link vertCenter textCenter grow short" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/{{ site.baseurl }}/assets/img/{{ post.thumbnail }})'>
    <div>
      <a class='caps post-title' href='https://www.boka-omw.com{{ post.url }}' style="text-decoration: none; font-family: Montserrat; ">{{ post.title }}</a>
      <p class='meta'><strong>{{ post.author }}</strong></p>
    </div>
  </div>
{% endfor %}
</div>
<div class='divider xs-12 grow'></div>

<div class='flexbox'>
  <div class="sm-6 textPreview vertCenter grow short">
    <div style="width:100%"> <br><br>
      <a class='caps post-title' href='https://www.mahempwear.com/' style="text-decoration: none;">Sponsored by</a>
      <div style="margin :0 auto;display: inline-block;">
        <a class="row img__wrap" href="https://www.mahempwear.com/" target="_blank">
          <img style="float:left;" class="img__img" src="{{site.url}}/{{site.baseurl}}/assets/img/ma-hemp-wear.png"
        alt="MA HEMP WEAR" width="100" height="70" border="10" />
        </a> &nbsp; &nbsp; &nbsp;
        <a class="row img__wrap" href="https://www.facebook.com/TheGrizzlyPubBordeaux/" target="_blank">
          <img style="float:right;" class="img__img" src="{{site.url}}/{{site.baseurl}}/assets/img/grizzly-logo.jpg"
        alt="Grizzly Pub Bordeaux" width="100" height="100" border="20" />
        </a> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      </div>
    </div>
  </div>
{% for post in site.posts limit:1 offset:4 %}
  <div class="sm-6 textPreview vertCenter grow short">
    <div>
      <a class='caps post-title' href='https://www.boka-omw.com{{ post.url }}' style="text-decoration: none;">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
      <p class='meta'></p>
    </div>
  </div>
{% endfor %}
</div>

<div class='flexbox wrap'>
{% for post in site.posts limit:3 offset:5 %}
  <div class="sm-4 imgBack link vertCenter textCenter grow" style='background-size: 100% 100%; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/{{ site.baseurl }}/assets/img/{{ post.thumbnail }})'>
    <div>
      <a class='caps post-title' href='https://www.boka-omw.com{{ post.url }}' style="text-decoration: none; font-family: Montserrat; ">{{ post.title }}</a>

    </div>
  </div>
{% endfor %}
</div>
<div class='divider xs-12 grow'></div>

<div class='flexbox'>
  <div class="sm-6 textPreview vertCenter grow short">
    <div>
      <a class='caps post-title' href='https://www.amazon.fr/Black-n-Roll-Boka-OMW/dp/B087KSYX18/ref=sr_1_11?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=boka+omw&qid=1603401966&rnid=1703605031&s=english-books&sr=1-11' style="text-decoration: none;">ACHETER MA MUSIQUE &nbsp; &nbsp; &nbsp; &nbsp;</a>

      <a class="img__wrap" href="https://www.amazon.fr/Black-n-Roll-Boka-OMW/dp/B087KSYX18/ref=sr_1_11?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=boka+omw&qid=1603401966&rnid=1703605031&s=english-books&sr=1-11" target="_blank">
        <img class="img__img" src="{{site.url}}/{{site.baseurl}}/assets/img/amazon-brands.png"
      alt="IMAGE ALT TEXT HERE" width="100" height="80" border="10" />
      </a> &nbsp;  &nbsp;
      <a class="img__wrap" href="https://music.apple.com/us/artist/boka-omw/1509556308" target="_blank">
        <img class="img__img" src="{{site.url}}/{{site.baseurl}}/assets/img/itunes-brands.png"
      alt="IMAGE ALT TEXT HERE" width="100" height="80" border="10" />
      </a>
    </div>
  </div>
{% for post in site.posts limit:1 offset:10 %}
  <div class="sm-6 textPreview vertCenter grow short">
    <div>
      <a class='caps post-title' href='https://www.boka-omw.com{{ post.url }}' style="text-decoration: none;">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>

    </div>
  </div>
{% endfor %}
</div>
